* {
  margin: 0;
  padding: 0;
}
:root {
  /*Cree una variable CSS personalizada*/
  /*Utilice el código hexadecimal para colores específicos*/
  --color1: #7f7fd5;
  --color2: #86a8e7;
  --color3: #91eae4;
  --bgcard: #c3e0e5;
  --gradient: linear-gradient(#7f7fd5, #86a8e7, #91eae4);
}
body {
  background: var(--gradient);

  height: 100%;
  /*Importar una fuente de Google*/
  font-family: "Montserrat", sans-serif;
}

.card {
  /*Dale un color de fondo a un elemento div*/
  background-color: var(--bgcard);
  border-radius: 15px;
  margin: 3%;
  padding: 3%;
  line-height: 2;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pic {
  /*Utilizar la herencia de estilos*/
  border-radius: inherit;
  /*Modifique tamaño de imágenes*/
  width: 392px;
  height: 528px;
  /*Agregar bordes alrededor de sus elementos*/
  border: 5px;
  border-color: var(--color1);
  border-style: solid;
}

header {
  column-count: 2;
  position: sticky;
  top: 0;
  padding: 2%;
  background-color: #c3e0e580;
}

footer {
  /*Dale un color de fondo a un elemento div*/
  background-color: black;
  padding: 3%;
}

.social {
  width: 50px;
  height: 50px;
}

a {
  /*Cambiar el color del texto*/
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.info {
  /*Cambiar el tamaño de fuente de un elemento */
  font: size 20px;
  line-height: 3;
}

.references {
  column-count: 2;
}

.links {
  text-align: end;
}

.list {
  column-count: 3;
  padding: 1%;
}

#school {
  display: none;
}

.expic {
  border-radius: 15px;
  /*Modifique tamaño de imágenes*/
  width: 180px;
  height: 180px;
  /*Agregar bordes alrededor de sus elementos*/
  border: 5px;
  border-color: var(--color2);
  border-style: solid;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1%;
}
